:root {

    --pssf-hell: #F7E8DE;
    --pssf-rosa: #F6B7B0;
    --pssf-dunkel: #846564;

}

html, body {
  font-size: 62.5%;
  font: 10px/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: var(--pssf-hell);
  color: var(--pssf-hell);
  display: grid;
  place-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.previewCard {
  --gutter: 1.5rem;
  --brightness: 0.85;
  --saturation: 1.5;
  --frostRadius: 1.5rem;
  
  padding: var(--gutter);
  border-radius: var(--gutter);
  aspect-ratio: 4 / 3;
  width: 100%;
  max-width: 32rem;
  display: grid;
  justify-content: start;
  align-content: end;
  position: relative;
  background: var(--pssf-dunkel);
  overflow: hidden;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  
  img {
    transition: transform 500ms ease-in-out;
  }
  
  svg {
    transition: transform 250ms ease-in-out;
  }
  
  &:hover {
    transform: scale(1.05);
    
    img {
      transform: scale(1.1);
    }
    
    svg {
      transform: scale(1.5);
    }
  }
  
  &:after {
    content: "";
    position: absolute;
    inset: -0.5rem;
    z-index: 1;
    pointer-events: none;
    backdrop-filter: blur(var(--frostRadius)) saturate(var(--saturation)) brightness(var(--brightness));
    background: var(--pssf-dunkel);
    mask-image: linear-gradient(to bottom, transparent 0%, rgba(132, 101, 100, 0.1) 40%, rgba(132, 101, 100, 0.5) 55%, var(--pssf-dunkel) 75%);
    /*background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 100%
    );*
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0.5) 55%,
      black 75%
    );*/
  }
}

/*.backdrop {
  position: absolute;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: 100%;
}*/

.backdrop {
  position: absolute;
  pointer-events: none;
  user-select: none;
  width: 75%;
  justify-self: center;
  align-self: center;
  margin-bottom: 4rem;
}

.content {
  position: relative;
  z-index: 2;
  display: grid;
  bottom: 0;
  justify-content: start;
  align-content: end;
  gap: 0.5rem;
}

.title {
  font-size: 1.7rem;
}

.category {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  opacity: 0.45;
}

.description {
  font-size: 1.3rem;
  line-height: 1.35;
  display: grid;
  grid-template-columns: 1fr auto;
  place-content: start;
  gap: 0.5rem;
  
  p {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  span {
    transform: translateY(-0.1rem);
    font-size: 4rem;
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;
  }
}

.cards > a {
    text-decoration: none;
    color: var(--pssf-hell);
}

/* cursor: url('./sock.png'), auto; */

.title-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.title-wrapper h1 {
    font-size: 3rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.title-wrapper h3 {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

div.title-wrapper a {
  text-decoration: none;
  color: #473737;
  cursor: url('./ps-navi-klein.png'), auto;
}

/*div.title-wrapper a:hover {
  text-decoration: none;
  color: #6d6d6d;
}*/

.footer {
    margin-top: 5rem;
}

.footer > p {
  padding: 5px;
  max-width: fit-content;
  justify-self: center;
  border: 2px solid var(--pssf-dunkel);
  border-radius: 10px;
  color: var(--pssf-dunkel);
  background: var(--pssf-hell);
}

.footer > p:hover {
  cursor: url('./sock.png'), auto;
}